


#habilidades{
    margin: auto;
    text-align: center;
    height: 100vh;
    padding-top: 50px;
}

.hr_meio{
    width: 60%;
    height: 1px;
    background-color: gray;
    margin: auto;
    border: none;
    
}

.desc_hab{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14pt;
    padding: 10px;
    color: gray;
}

#div_habilidades{
    margin: auto;
    text-align: left;
    padding:0px 20px;
    margin-top: 50px;
    width: 80%;
}



.ab{
   margin: 20px 0px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 1px;
  font-size: 12pt;
}



.ab p{
    color: gray;
    font-size: 14pt;
    
}
.div_porcentagem{
    background-color: rgba(248, 248, 255, 0.623);
    width:100%;
    height: 13px;
    
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
   
   
}

#porcentagem{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    height: 13px;
    color: white;
    background-image: linear-gradient(50deg,rgb(137, 43, 226),rgb(195, 0, 255),rgb(137, 43, 226),rgb(195, 0, 255),rgb(137, 43, 226));
    animation: animar linear infinite 3s;
}

@keyframes animar{
    0%{
        background-position:300px ;
    }
}

#porcentagem p{
   transform: translateY(-20px);
   font-size: 12pt;
}



.html{
    transition: all 1s;
    width: 0%;
   
}

.css{
    width: 0%;
    transition: all 1.3s;
  
}

.javascript{
    width: 0%;
    transition: all 1.6s;
  
}

.react{
    width: 0%;
    transition: all 1.9s;
    
}


.github{
    width: 0%;
    transition: all 1.2s;
    
}

#ab_pessoais{
    margin-top:30px;
}

#ab_pessoais p{
    font-size: 12pt;
}

.compro{
    width: 0%;
    transition: all 2.2s;
  }

  .equipe{
    width: 0%;
    transition: all 2.5s;
}

  .comunicacao{
    width: 0%;
    transition: all 2.8s;
}





 